# Python cache files
__pycache__/
*.py[cod]

# MyPy cache
.mypy_cache/

# Venv
.venv/

# Environment variables
.env

# Lockfile
uv.lock

# Ignore files inside the checkpoints directory
checkpoints/*

# Allow the directory to exist in the repository
!checkpoints/.gitkeep